<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796473561774-1skhn2conuu7vgdhbvuvhd9f8kkmn9ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796473561774-1skhn2conuu7vgdhbvuvhd9f8kkmn9ig</string>
	<key>API_KEY</key>
	<string>AIzaSyDUoAl9pz_z2Vnp3XZCWTZsjz1Xri5MACI</string>
	<key>GCM_SENDER_ID</key>
	<string>796473561774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chihabdev.foodApp</string>
	<key>PROJECT_ID</key>
	<string>food-app-chihab</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-chihab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796473561774:ios:d4c9ab0bdd2bfee8fed33f</string>
</dict>
</plist>